<ion-content>
<ion-navbar text-center>
  <ion-title>Filter</ion-title>
</ion-navbar>
  <ion-list padding-right>
    <ion-item-divider>
      Type
    </ion-item-divider>
    <ion-item *ngFor="let type of types">
      <ion-label>{{type}}</ion-label>
      <ion-checkbox [checked]="filterHelper.initialState[type]" (ionChange)="updateData(type)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item text-center>
  <button ion-button [default]="true" class="popover-button" (click)="close()">
    Close
  </button>
  <button ion-button [default]="true" class="popover-button" (click)="closeAndReset()">
    Cancel
  </button>
  </ion-item>
</ion-content>

