page-home {

  .infoHeader {
      background-color: #488aff;
      color: #FFFFFF;
      display: block;
      padding: 10px 20px 10px;
  }

  .description {
      display: block;
      font-size: 90%;
  }

  .frame {
      text-align: center;
      position: relative;
      top: -21px;
      left: -5px;
    }

  .liked {
    content: url(../../assets/icon/heart-full.svg);
    background: white;
  }


  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .num-likes {
    font-size: 125%;
  }


  .row-item {
    display: inline-block;
  }

  .not-liked {
    content: url(../../assets/icon/heart-not-liked.svg);
    background: red;
  }

  #tag-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-auto-flow: row;
    padding: 0 5px 0;
  }

  .tag {
    font-size: 50%;
    grid-column: auto;
    grid-row: auto;
    padding: 2px 0 2px;
    color: #FFFFFF;
    border-radius: 2px;
  }

  .like-button {
    border-radius: 50%;
    padding: 4px 0 3px;
    border: 2px solid red;
    display: inline-block;
    height: 30px;
    width: 30px;
    box-shadow: 2px 2px 1px #cccccc;
  }

  #like-button {
    background-color: transparent !important;
  }

  #like-button :active {
    animation: rotate 350ms;
    box-shadow: 0 0 transparent;
  }


  .pgm-html-info-content-frame {
    background: linear-gradient(rgba(255, 255, 255, .90) 90%, white) !important;
    border-radius: 5%;
  }

  @keyframes rotate {
    from {transform: rotate(0deg) scale(1)} to {transform: rotate(360deg) scale(1.15)}
  }
}
