page-home {

  $info-window-width: 300px;

  :root {
    --info-window-width: 300px;
  }

  .infoHeader {
      background-color: #488aff;
      color: #FFFFFF;
      //font-size: 100%;
      display: block;
      padding: 10px 20px 10px;
  }

  .description {
      display: block;
      font-size: 90%;
  }

  .frame {
      text-align: center;
      position: relative;
      top: -21px;
      left: -5px;
    }

  .liked {
    content: url(../../assets/icon/heart-full.svg);
    background: white;
  }


  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .num-likes {
    font-size: 125%;
  }


  .row-item {
    display: inline-block;
  }

  .not-liked {
    content: url(../../assets/icon/heart-not-liked.svg);
    background: red;
  }

  #tag-container {
    //display: flex;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-column-gap: calc((var(--info-window-width) * .2) / 5)px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-auto-flow: row;
    padding: 0 5px 0;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-evenly;
    //align-items: flex-start;
    //align-content: flex-start;
  }

  .tag {
    //width: 25%;
    font-size: 50%;
    grid-column: auto;
    grid-row: auto;
    //display: inline-block;
    padding: 2px 0 2px;
    background-color: lightblue;
    border-radius: 2px;
  }

  .like-button {
    border-radius: 50%;
    padding: 4px 0px 3px;
    border: 2px solid red;
    display: inline-block;
    height: 30px;
    width: 30px;
    box-shadow: 2px 2px 1px #cccccc;
  }

  #like-button {
    background-color: transparent !important;
  }
}
