<!-- Generated template for the SuggestionCardComponent component -->
<ion-card>
  <ion-card-header>
    {{suggestion.title}}
  </ion-card-header>
  <ion-card-content>

    <div *ngIf="suggestion.tags" class="tag-container">
      <span *ngFor="let tag of suggestion.tags" class="tag">{{tag.toUpperCase()}}</span>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col  col-2>
          <img src="assets/imgs/pin-empty.png">
        </ion-col>
        <ion-col col-10>
          {{ suggestion.description}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item id="likebar">
      <button id="upvote" ion-button icon-only clear [color]="upvoteColor" item-start>
        <ion-icon name="md-thumbs-up"></ion-icon>
      </button>
      <span item-start>{{suggestion.likes}}</span>
      <button id="downvote" ion-button icon-only clear [color]="downvoteColor" item-start>
        <ion-icon name="md-thumbs-down"></ion-icon>
      </button>
    </ion-item>

  </ion-card-content>
</ion-card>
