// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.popover {
  ::-webkit-scrollbar {
    width: auto;
  }
  ::-webkit-scrollbar-thumb {
    background: color($colors, 'primary');
  }
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.tag-art {
  background-color: #29797A;
}

.tag-athletic {
  background-color: #1b4850;
}

.tag-food {
  background-color: #326020;
}

.tag-historic {
  background-color: #C15844;
}

.tag-loud {
  background-color: #9d445b;
}

.tag-nap {
  background-color: #91232f;
}

.tag-social {
  background-color: #334299;
}

.tag-study {
  background-color: #693399;
}

.scroll-content {
  //background-color: lightblue;
}
