page-suggest {

.row-container {
  //background-color: lightblue;
}


  #next-button {
    width: 80%;
  }

  .md {
    .fix{
      height: 15%
    }
  }

  .ios {
    .fix {
      height: 25%
    }
  }

  $circle-size: 30px;

  .step {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: $circle-size;
    width: $circle-size;

  }

  .step-text {
    color: black !important;
  }
  .div {
    box-sizing: border-box;
  }

  .scroll-content
  {
    padding-bottom: 0 !important;
  }

}
